@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #583f88;
}

nav,
li,
ul {
  background-color: #25114a;
  color: #f3f3f3;
}

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: #392364;
  height: 600px;
}

.green-column {
  background-color: #583f88;
  height: 600px;
}
