@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #583f88;
}

.some-page-wrapper {
  margin: 0px;
}
img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  padding: 100px 0px 0px 0px;
}

.centeredContent {
  text-align: center;
}

.webDeveloper {
  color: #f3f3f3;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex-basis: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.blue-column {
  background-color: #583f88;
  height: 100vh;
}

.green-column {
  background-color: #392364;
  height: 100vh;
}

/* Reset some default styles */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25114a;
  padding: 10px 30px 10px 20px;
}
h1 {
  color: #ea3b64;
  display: flex;
  justify-content: center;
  padding: -20px 0px 0px 80px;
  font-size: 80px;
}

/* Style the logo image */
nav img {
  display: block;
}

/* Style the navigation menu */
ul {
  display: flex;
}

ul li {
  margin-right: 30px;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  color: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
}

/* Style the hamburger icon */
nav img:last-child {
  display: none; /* Hide the hamburger icon by default for larger screens */
  cursor: pointer;
}

/* Media query to show/hide hamburger icon based on screen width */
@media only screen and (max-width: 768px) {
  ul {
    display: none; /* Hide the navigation menu by default for smaller screens */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  ul.show {
    display: flex; /* Show the navigation menu when the class 'show' is added */
  }

  ul li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  nav img:last-child {
    display: block; /* Show the hamburger icon for smaller screens */
  }
}
